<div class="item" id="item_<%= item.id %>">
  <%= item_label(item) %>
  <%= item_preview(item) %>
  <%= item_buttons(item) %>
  <div class="description" id="item_<%= item.id %>_description" style="display:none;"><%= "#{item.description}" %></div>
	<div class="keywords" id="item_<%= item.id %>_keywords" style="display:none;"><%= "#{item.keywords}" %></div>
</div>